@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, rgba(0,255,0,1) 0%, rgba(0,255,255,1) 80%);
  border-radius: 20px;
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, rgba(0,255,0,1) 0%, rgba(0,255,255,1) 80%);
  filter: blur(30px);
  border-radius: 20px;
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg,
                              #03a9f4,
                              #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg,
                              #4dff03,
                              #00d0ff);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 20px;
}

.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  pointer-events: none;
  border-radius: 20px;
}

.container .box .content {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 20px 40px;
  border-radius: 20px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
}

.container .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.2em;
  border-radius: 20px;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.container .box .content a:hover {
  background: #fff;
  color: #000;
}