@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* font-family: 'Nabla', cursive; */
/* font-family: 'Space Grotesk', sans-serif; */

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

hr.rounded {
  border-top: 8px solid #000;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  top: 0;
  left: 0;
}

.glass-bg {
  width: 80%;
  height: 500px;
  margin: 80px 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2%;
  right: 2%;
  top: 2%;
  bottom: 2%;
}

.content {
  display: grid;
  text-align: center;
}

.content h1 {
  padding: 2%;
  color: #000;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-align: center;
}

.content p {
  margin-bottom: 5%;
  color: #000;
  font-size: 25px;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  padding: 0 2%;
}

.content a {
  margin: 0 10%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 5px;
  text-shadow: 1px 1px 10px rgba(255,255,255,1);
  padding: 10px 20px;
  transition: 0.3s ease-in;
}

.glass-bg a:hover {
  background: #000;
  border-radius: 10px;
  padding: 10px 20px;
}

.so {
  border-radius: .5rem;
  padding: 0.1% 0.1%;
  box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.5);
}
.so p{
  margin: 1% 0 1%;
}
.main {
  display: grid;
  grid-gap: 2%;
  justify-content: center;
  width: 100%;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
}